.navbar {
  width: 100%;
  height: 80px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 80px;
  border-bottom: 2px solid lightgrey;;



}

.navbar img {
  height: 30px;
  background: transparent;
  margin-bottom: 10px;
  margin-right: 20px;


}
.navbar a {

  text-decoration: none;
  font-size: 15px;
}
.nav_left li:nth-child(3) {
  margin-right: 15px;
}
.nav_left li:nth-child(2) {
  margin-left: 20px;
}
.nav_left li:nth-child(4) {
  margin-left: 15px;

}
.nav_left li:nth-child(5) {
  margin-left: 20px;

}
.nav_left li:nth-child(7) {
  margin-left: 20px;
}

.navbottom {
  text-decoration: none;
  border: 1px solid #0069ff;
  border-radius: 3px;
  color: #0069ff;
  padding: 5px 20px;
  transition: 1s;
  font-size: 15px;

}
.navbottom:hover {
  color: white;
  background: #0069ff;
}
.nav_right li:nth-child(5) {
  margin-left:  20px;
}
.nav_right li:nth-child(1) {
  margin-right: 20px;
}
.nav_right li:nth-child(4) {
  margin-left: 15px;
}

@media screen and (max-width 1200px) {

  .nav_left a, .nav_right a {
    display: none;
  }

}


.jumbo {
  margin-top: 80px;
  background-image: url('https://www.digitalocean.com/assets/media/homepage/hero-background-c9490927.svg');
  width: 100%;
  height: 750px;
}
